*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover:rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);


}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02); 
  --highlight-color: rgba(0, 0, 0, 0.2);
   --switch-bg-url: url(./assets/sun.svg);
}

body {
/*
  background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat; 
  background-position: top center;
  background-size: cover;
*/
/*background color image repeat position/size*/
background: var(--bg-url) no-repeat top center/cover;
/*viewport height (vh) significa tudo que vemos na altura da janela de visualização (pagina), nesse caso
estamos colocando um vh de 100vd para que ela ajuste a altura do dispositivo e coloque background aonde estava faltando*/
height: 100vh;

}

#container {
width: 100%;
max-width: 588px;
height: 720px;
padding: 24px;

/*
border: 1px solid white; a borda é para ter um parametro de como os elementos/caixas vao ficar visualmente*/

  color: var(--text-color);
  margin: 56px auto 0px;
   
}

body * {
 font-family: Inter, sans-serif;;
 color: var(--text-color);
}


/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px
 }

 #profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
 }

 /*switch*/
 
#switch {
  position: relative; /*ele vai relativizar o absoluto do switch button, que faz com que 
  qualquer coisa que estiver dentro do abosluto fique certinho dentro dele e não "espalhado" 
  pela "pagina".*/
  width: 64px;
  margin: 4px auto;

}


 #switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius:50%;
  position: absolute;/*automaticamente faz uma sobreposição de camadas*/
  top: 50%; 
  transform: translateY(-50%); /*faz com que centralize horizontalmente o eixo Y*/
  left: 0;
  z-index: 1;

 }


 .light #switch button{
  right: 0;
  left: initial;
 }

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}



 /* LINK */
 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
 }

 ul li a {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px; /*definição da borda da lista em pixels*/
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  /*no transition tem mais de 2 propriedades, o all que faz a transição de todos elementos(cor, 
  borda, tamanho etc/, ou voce coloca a propriedade que vc quer selecionar, por exemplo, background. o segundo é em quanto 
  ele vai fazer a transição.
  ex: transition: all 0.5s; - siginifaca que ele vai transicionar todos em 5 segundos quando ele 
  carregar a pagina*/

  transition: background 0.2s;

 }

 ul li a:hover /*pseudo-selector - nele aplica as coisas quando passa o mouse em cima*/ {

  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  
 }

 /*social links*/
#social-links{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
 
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: backgroud 0.2s;
  border-radius: 50%;
  
  
}

#social-links a:hover{
  background: var(--hightlight-color);
  padding: 16px;
}


footer{ 
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
/*no CSS tudo que começa com @ é um at-rule*/
/*colocamos uma media queries aqui para que a imagem do fundo(background) se modifique e se ajuste ao tamanho
da pagina conforme o dipositivo*/
@media(min-widht: 700px){
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url (./assests/bg-light.jpg);
    /*a @media só funciona se tiver a linha de <meta name="viewport"...> no html*/
  }
}